* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background: radial-gradient(78.14% 78.14% at 100% 32.09%, #4247C7 64.06%, #2DC661 100%);
}

header {
  background: linear-gradient(90.07deg, #4247C7 0.42%, #3A61C5 47.66%, #2DC661 103.07%);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo img {
  margin-right: 5px;
  height: 24px;
}
header .logo h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}
header .menu img {
  height: 16px;
}

main {
  text-decoration: none;
  height: auto;
}

.categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  border-radius: 0;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}
.categorias p {
  font-weight: 550;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: -2px;
}

.categorias__card {
  width: 66px;
  height: 66px;
  padding: 0 7px;
  margin: 0 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}
.categorias__card img {
  margin: 4px 0;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.banner {
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  aspect-ratio: 16/9;
  min-height: 150px;
  border-radius: 15px;
  width: 95%;
  margin: 0 14px 0 10px;
  background-size: 100%;
  background-image: url(img/banner/1.jpg);
  -webkit-animation-name: game;
          animation-name: game;
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

@-webkit-keyframes game {
  0% {
    background-image: url(img/banner/1.jpg);
  }
  20% {
    background-image: url(img/banner/2.jpg);
  }
  45% {
    background-image: url(img/banner/3.jpg);
  }
  70% {
    background-image: url(img/banner/7.jpg);
  }
  100% {
    background-image: url(img/banner/8.jpg);
  }
}

@keyframes game {
  0% {
    background-image: url(img/banner/1.jpg);
  }
  20% {
    background-image: url(img/banner/2.jpg);
  }
  45% {
    background-image: url(img/banner/3.jpg);
  }
  70% {
    background-image: url(img/banner/7.jpg);
  }
  100% {
    background-image: url(img/banner/8.jpg);
  }
}
.articulos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4px 1fr 4px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  width: 100%;
  margin: 10px 10px 10px 10px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}

.articulos__container {
  padding: 6px;
  margin: 10px 10px 10px 0px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.articulos__container .detalles {
  padding-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
}
.articulos__container .detalles p {
  font-size: 12px;
  font-weight: 500;
  color: #17141b;
  font-family: "Roboto", sans-serif;
}
.articulos__container h1 {
  font-family: "Baloo Bhaina 2";
  font-style: normal;
  font-size: 1.2rem;
  padding: 0 5px;
}
.articulos__container .calltoaction {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.articulos__container .calltoaction a {
  width: 35px;
  height: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom: 5px;
}
.articulos__container .calltoaction a img {
  width: 20px;
  height: 20px;
}
.articulos__container .calltoaction a .wsp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  min-width: 90px;
  max-width: 110px;
  padding: 2px 9px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2DC661;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}
.articulos__container .calltoaction a .wsp p {
  color: white;
  font-weight: 500;
  font-family: "Baloo Bhaina 2";
  font-size: 1.2rem;
  margin-right: 2px;
}

.articulos__container img {
  display: block;
  width: 100%;
  max-width: 350px;
  border-radius: 20px;
}

.masonry-layout {
  --columns:1;
  --gap: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: var(--gap/2);
  padding-left: 10px;
}
.masonry-layout .masonry-item {
  margin-bottom: var(--gap);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.masonry-layout.columns-1 {
  --columns: 1;
}
.masonry-layout.columns-2 {
  --columns: 2;
}
.masonry-layout.columns-3 {
  --columns: 3;
}
.masonry-layout.columns-4 {
  --columns: 4;
}

footer {
  background: linear-gradient(90.07deg, #4247C7 0.42%, #3A61C5 47.66%, #2DC661 103.07%);
  height: 39px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer img {
  height: 30px;
}
