section.categorias
	+card-categoria("Roperos","wardrobe.png","Icono de Roperos","./index.html")
	+card-categoria("Electro","licuadora.png","Icono de Artefactos","./electro.html")
	+card-categoria("Cocina","sarten.png","Icono de Sartén","./cocina.html")
	+card-categoria("Termos","termo.png","Icono de Thermos","./termos.html")
	+card-categoria("Otros","belleza.png","Icono de Corte de Cabello","./belleza.html")
	