extend pug-componentes/plantilla2.pug
block contenidos
	body
		main
			section(id="articulos")
				h1 aqui va el formulario
					form(id="uploadImage", enctype="multipart/form-data")
						p subir archivo
						input(id="file" type="file", name="foto")

					p nombre
						input(width=300 type="text", name="nombre" id="nameInput")
					p precio
						input(width=300 type="number", name="precio" id="priceInput")

					p caracteristicas
						button(id="add" onclick="addFila()") agregar

					div(id="cajaCarac")

						input(width=300 type="text", name="carac" class="caracInput")



					button(onclick="subirImagen()") cargar

