footer {
    background: linear-gradient(90.07deg, $Color1 0.42%, $Color-medio 47.66%, $Color2 103.07%);
    height: 39px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img {
        height: 30px;
    }
}