$Color1: #4247C7;
$Color2: #2DC661;
$Color-medio: #3A61C5;
$Color-claro: white;
$Fuente1: 'Roboto', sans-serif;
$Fuente2: 'Baloo Bhaina 2';
$Color-nombre:#17141b;

@mixin borde1 {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
    border-radius: 15px;
}
@mixin fondo-tr {
   background-color: rgba(255, 255, 255, 0.5);
}
@mixin scroll-hor {
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: $Fuente1;
}

body {
    
    background: radial-gradient(78.14% 78.14% at 100% 32.09%, $Color1 64.06%, $Color2 100%);
    
    
}