extend pug-componentes/plantilla.pug
block contenidos
	body
		main 
			section(id="articulos")
				+card("Juego de Ollas Aluminio","20% de Descuento","Brunido-Grande-x4.jpg")
				+card("Juego de Ollas Acero","s/.230.00","Acero-Vidrio-X5.jpg")
				+card("Juego de Ollas Acero Tapa de Vidrio","s/.160.00","Acero-Solido-X5.jpg")
				+card("Olla A Presión Clock","s/.165.00","ollaclock.jpg")
				+card("Tetera Acero Quirúrgico 3 Litros","s/.110.00","tetera-euro-reloj.jpg")
				+card("Tetera Record Anodizado","s/.120.00","Tetera-Record-Anodizado.jpg")
				+card("Tetera Anti-Sarro","s/.65.00","Tetera-Teflon.jpg")
				+card("Olla A Presión Universal","Delivery GRATIS!","olla-universal.jpg")
				+card("Olla A Presión Record","Delivery GRATIS!","Olla-Presion-Record.jpg")
				+card("Sartén Antiadherente Facusa","s/.25.00","sarten-facusa.jpg")
				+card("Juego de Ollas Aluminio Recta","Delivery GRATIS!","olla-lijado-x7.jpg")
				+card("Juego de Ollas Aluminio Bombi","Delivery GRATIS!","Juego-alumino-bombi.jpg")
				
			section.banner
				.banner__container
	 
