@import "componentes/globales.scss";
@import "componentes/header.scss";
@import "componentes/categorias.scss";
@import "componentes/banner.scss";
@import "componentes/articulos.scss";
@import "componentes/footer.scss";




