extend pug-componentes/plantilla.pug
block contenidos
	body
		main 
			section(id="articulos")
				+card("Termo 2 Litros 24 Horas","S/.39.00","Termo-BIGBOY.jpg")
				+card("Termo Acero Quirúrgico Bubba","49.00","termobubba.jpg")
				+card("Taper Eléctrico","Delivery GRATIS!","Taper-Electrico.jpg")
				+card("Termos Acero Inóxidable","S/.19.00","termo-acero.jpg")
				+card("Termo Acero Inóxidable 1 Litro","S/.29.00","termo-acero2.jpg")
				
				
			section.banner
				.banner__container
	 
