
* {
	 margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




header{
	background: rgb(56,86,61);
	background: linear-gradient(351deg, rgba(56,86,61,1) 0%, rgba(64,105,71,1) 57%, rgba(81,98,83,1) 100%);
	border-bottom-right-radius: 39px

}

#hamburger{
	height: 3.5vh;
}
#hamburger ul{
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.7rem 0 9rem 0;
    justify-content: space-evenly;
	position: fixed;
	width: 100%;
    height: 100vh;
    background: radial-gradient(78.14% 78.14% at 100% 32.09%, rgba(56,86,61,1) 64.06%, rgba(64,105,71,1) 100%);
    left: -100%;
    top: 38px;
	transition: .5s;
}

#hamburger ul li{
	list-style: none;
	font-size: 1.6rem;
}


#hamburger ul li a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	
}


.bot-menu{
	display: none;
}

.bot-check{
	float: right;
	cursor: pointer;
	align-items: center;
    display: flex;
}
.bot-check p{
	font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    margin-right: 7px;
}
.bot-check .bot_open{
	width: 20px;
}
.bot-check .bot_close{
	display: none;
	width:  20px;
}

.pestaña a.active, .pestaña a:hover{
	background-color:brown;
	transition: .5s;
}

#bot-menu:checked ~ ul{
	left: 0;
}
#bot-menu:checked + label .bot_open{
	display: none;
}
#bot-menu:checked + label .bot_close{
	display: block;
}







.front{
	display: flex;
	align-items: flex-end;
	padding: 15px;
}
.front h1{
	color: #E9DEA7;
	font-size: 40px;
	padding: 19px;
}
header img{
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
	width: 150px;
	border-radius: 23px;
	margin: 0 12px 4px 0;
}
.categories{
	margin: 8px 0 8px 0;
	display: flex;
	justify-content: space-evenly;
}

.categories .activeTab{
	border: solid #f2f2f2;
	text-decoration: none;
    color: rgb(54, 54, 54);
    font-size: 2.2rem;
    font-weight: 700;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
    border-radius: 14px;
    padding: 3px 17px;
}
.categories .inactiveTab{
	text-decoration: none;
    color: #B7BCC0;
    font-size: 2.2rem;
    font-weight: 700;
}

.card{
	align-items: center;
	margin-bottom: 5px;
	display: flex;
	justify-content: right;

}
.card img{
	margin-right: -26px;
    
height: 83px;
    width: 83px;
    border-radius: 35px;
}
.info{
	margin-right: -5%;
	min-width: 80%;
	min-height: 114px;
	display: flex;
    justify-content: space-evenly;
	background: rgb(56,86,61);
	background: linear-gradient(351deg, rgba(56,86,61,1) 0%, rgba(64,105,71,1) 57%, rgba(81,98,83,1) 100%);
	border-radius: 25px;
}
.price{
	color: #E9DEA7;
	
	display: flex;
    flex-direction: column;
	align-self: center;
	padding-left: 33px;
}

.price h3{
	font-size: 18px;
	max-width: 50%;
}

.price p{
	margin-top: 1rem;
	font-size: 18px;
}
.calltoaction{
	padding-right: 4.5rem;
	display: flex;
    flex-direction: column;
	align-self: center;
}


.calltoaction button{
	color: #F2F2F2;
	border: solid rgb(54, 54, 54);
	border-radius: 10px;
	background-color:rgb(54, 54, 54) ;
    /* border: solid #f2f2f2; */
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
	margin-top: 20px;
}

.lista{
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
	border-radius: 11px;
	font-size: 1.5rem;
	background-color: #f2f2f2;
	margin-top: 15px;
    color: #49654e;
	
}
ul .carac{
	
	margin: 8px 8px 0 8px;
	list-style: none;
	display: none;
}

#tik{
	display: none;
}
#boton-menu{
	display: none;
}

.boton_open{
	display: block;
	color: #F2F2F2;
	font-size: 1.3rem;
}
.boton_close{
	display: none;
	color: #F2F2F2;
	text-align: center;
	font-size: 1.3rem;
}

#boton-menu:checked + label .carac{
	display: block;
	
}
#boton-menu:checked + label .boton_close{
	display: block;
}
#boton-menu:checked + label .boton_open{
	display: none;
}

#boton-menu:checked + label .boton-check{
	position: absolute;
}



