#post {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: radial-gradient(78.14% 78.14% at 100% 32.09%, #4247C7 64.06%, #2DC661 100%);
}

#post p {
    color: white;
    font-size: 12px;
    
    
}

#file {
    color: white
}

#uploadImage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addCarac {
    border-radius: 4px;
    color: #404dc6;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 50%), -2px -2px 15px rgb(255 255 255 / 25%), -5px -5px 10px rgb(255 255 255 / 25%);
    margin: 7px 0px;
}

.cajaCarac{
    display: flex;
    flex-direction: column;
    
}
input {
    border-radius: 4px;
}

.finalizar {
    background-color: #404dc6;
    border: #6797ed;
    color: white;
    margin-top: 5px;
    font-size: 16px;
    padding: 2px;
    border-radius: 2px;
}

