
* {
	 margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Roboto", sans-serif;
}

header{
	background: rgb(56,86,61);
	background: linear-gradient(351deg, rgba(56,86,61,1) 0%, rgba(64,105,71,1) 57%, rgba(81,98,83,1) 100%);
	border-bottom-right-radius: 39px

}

header menu{
	display: flex;
	justify-content: end;
}
header menu img{
	width: 25px;
	border-radius: 23px;
}
.front{
	display: flex;
	align-items: flex-end;
	padding: 15px;
}
.front h1{
	color: #E9DEA7;
	font-size: 40px;
	padding: 19px;
}
header img{
	width: 150px;
	border-radius: 23px;
	margin: 0 12px 4px 0;
}
.categories{
	margin: 8px 0 8px 0;
	display: flex;
	justify-content: space-evenly;
}
.categories a{
	
	text-decoration: none;
    color: black;
    font-size: 2.2rem;
    font-weight: 700;
}

.card{
	align-items: center;
	margin-bottom: 5px;
	display: flex;
	justify-content: right;

}
.card img{
	margin-right: -26px;
    
height: 83px;
    width: 83px;
    border-radius: 35px;
}
.info{
	margin-right: -5%;
	min-width: 80%;
	min-height: 114px;
	display: flex;
    justify-content: space-evenly;
	background: rgb(56,86,61);
	background: linear-gradient(351deg, rgba(56,86,61,1) 0%, rgba(64,105,71,1) 57%, rgba(81,98,83,1) 100%);
	border-radius: 25px;
}
.price{
	color: #E9DEA7;
	
	display: flex;
    flex-direction: column;
	align-self: center;
	padding-left: 33px;
}

.price h3{
	font-size: 18px;
	max-width: 50%;
}

.price p{
	margin-top: 1rem;
	font-size: 18px;
}
.calltoaction{
	padding-right: 4.5rem;
	display: flex;
    flex-direction: column;
	align-self: center;
}


.calltoaction button{
	border-radius: 10px;
    border: solid #f2f2f2;
}

.lista{
	
	font-size: 1.5rem;
	color: #f2f2f2;
	
}
ul .carac{
	list-style: none;
	display: none;
}

#tik{
	display: none;
}
#boton-menu{
	display: none;
}

.boton_open{
	display: block;
	color: #F2F2F2;
}
.boton_close{
	display: none;
}

#boton-menu:checked + label .carac{
	display: block;
	
}
#boton-menu:checked + label .boton_close{
	display: block;
}
#boton-menu:checked + label .boton_open{
	display: none;
}

#boton-menu:checked + label .boton-check{
	position: absolute;
}