:root{
	--color-first: #69CC5B;
	--color-second: #3F7A37;
	--color-third: #80FA70;
	--color-fourth: #1E3B1A;
	--color-fiveth: #73E065;


	--dark-font: black;
	--ligth-font: #ffff;
}

* {
	 margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




header{
	background: rgb(56,86,61);
	background: linear-gradient(351deg, var(--color-fourth) 0%, var(--color-second) 57%, var(--color-first) 100%);
	border-bottom-right-radius: 39px

}

#hamburger{
	height: 3.5vh;
	background-color: var(--dark-font);
}
#hamburger ul{
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.7rem 0 9rem 0;
    justify-content: space-evenly;
	position: fixed;
	width: 100%;
    height: 100vh;
	background: linear-gradient(351deg, var(--color-fourth) 0%, var(--color-second) 57%, var(--color-first) 100%);
    left: -100%;
    top: 4%;
	transition: .5s;
}

#hamburger ul li{
	list-style: none;
	font-size: 1.6rem;
}


#hamburger ul li a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	
}


.bot-menu{
	display: none;
}

.bot-check{
	float: right;
	cursor: pointer;
	align-items: center;
    display: flex;
}
.bot-check p{
	font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    margin-right: 7px;
}
.bot-check .bot_open{
	width: 20px;
}
.bot-check .bot_close{
	display: none;
	width:  20px;
}

.pestaña a.active, .pestaña a:hover{
	background-color:brown;
	transition: .5s;
}

#bot-menu:checked ~ ul{
	left: 0;
}
#bot-menu:checked + label .bot_open{
	display: none;
}
#bot-menu:checked + label .bot_close{
	display: block;
}







.front{
	display: flex;
	
	padding: 15px;
}
.front .nombre{

	display: flex;
    flex-direction: column;
    align-items: center;
}
.front h1{
	color: var(--ligth-font);
	font-size: 40px;
	padding: 19px;
	text-align: center;
}
header img{
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
	width: 150px;
	border-radius: 23px;
	margin: 0 12px 4px 0;
}
.categories{
	margin: 8px 0 8px 0;
	display: flex;
	margin: 14px 0;
	justify-content: space-evenly;
}

.categories .activeTab{
	border: solid #f2f2f2;
	text-decoration: none;
    color: var(--dark-font);
    font-size: 2.2rem;
    font-weight: 700;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
    border-radius: 14px;
    padding: 3px 17px;
}
.categories .inactiveTab{
	text-decoration: none;
    color: #B7BCC0;
    font-size: 2.2rem;
    font-weight: 700;
}

.card{
	align-items: center;
	margin-bottom: 5px;
	display: flex;
	justify-content: right;

}
.card img{
	
	margin-left: 5px;
    
height: 83px;
    width: 83px;
    border-radius: 35px;
}
.info{align-items: center;
	margin-right: -5%;
	max-width: 94%;
	min-height: 114px;
	display: flex;
    justify-content: space-evenly;
	
	background: linear-gradient(351deg, var(--color-fourth) 0%, var(--color-second) 57%, var(--color-first) 100%);
	border-radius: 25px;
}
.price{
	color: var(--ligth-font);
	display: flex;
    flex-direction: column;
	align-self: center;
	padding-left: 33px;
	margin-right: -21px;
}

.price h3{
	font-size: 18px;
	max-width: 50%;
}

.price p{
	margin-top: 1rem;
	font-size: 18px;
}
.calltoaction{
	padding-right: 4.5rem;
	display: flex;
    flex-direction: column;
	align-self: center;
}


.calltoaction button{
	color: var(--ligth-font);
	border: solid var(--dark-font);
	border-radius: 10px;
	background-color:var(--dark-font) ;
    /* border: solid #f2f2f2; */
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
	margin-top: 20px;
}

.lista{
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
	border-radius: 11px;
	font-size: 1.5rem;
	background-color: var(--ligth-font);
	margin-top: 15px;
    color: var(--color-fourth);
	
}
ul{
	display: none;
}
ul .carac{
	
	margin: 8px 8px 0 8px;
	list-style: none;
	
}

#tik{
	display: none;
}
.boton-menu{
	display: none;
}

.boton_open{
	display: block;
	color: var(--ligth-font);
	font-size: 1.3rem;
}
.boton_close{
	display: none;
	color: var(--ligth-font);
	text-align: center;
	font-size: 1.3rem;
}

input:checked + label ul{
	display: block;
	
}
input:checked + label .boton_close{
	display: block;
}
input:checked + label .boton_open{
	display: none;
}

input:checked + label .boton-check{
	position: absolute;
}



