main{
    text-decoration: none;
    height: auto;
}
.categorias{
    display: flex;
    width: auto;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border-radius: 0;
    @include scroll-hor;
    @include fondo-tr;
    @include borde1;
    
    p{
        font-weight: 550;
        text-transform: uppercase;
        font-size: 1rem;
        margin-top: -2px;
        
        
        
        
    }
    
    
    
}

.categorias__card {
    width: 66px;
    height: 66px;
    padding: 0 7px;
    margin: 0 7px;
    display: flex;
    flex-direction: column;
    place-items: center;
    @include borde1;
    img {
        margin: 4px 0;
        width: 100%;
        height: 40px;
        border-radius: 10px;
    }
    
}