extend pug-componentes/plantilla.pug
block contenidos
	body
		main 
			section(id="articulos")
				+card("Mini Billar de Madera","Delivery GRATIS!","MIni-Billar.jpg")
				+card("Cuchilla De Licuadora Oster","15.00","cuchilla-oster.jpg")
				+card("Juego de Te de Losa Grande","59.00","set-grande-Taza.jpg")
				+card("Juego de Te de Losa","49.00","set-te-mediano.jpg")
				
				
				
			section.banner
				.banner__container
	 
