extend pug-componentes/plantilla.pug
block contenidos
	body
		main 
			section(id="articulos")
				+card("Extractor Oster 600 watts","20% de Descuento","Extractor-Oster-600W.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Extractor%20Oster%20600%20watts%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Licuadora Oster Clasica 700 watts","Delivery GRATIS!","licuadora-Oster-3V-700W.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Licuadora%20Oster%20Clasica%20700%20watts%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Licuadora Industrial Jhumy","Delivery GRATIS!","licuadora-jhumy.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Licuadora%20Industrial%20Jhumy%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Licuadora Oster Pica Hielo","Delivery GRATIS!","licuadora-Oster-boton-Rojo.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Licuadora%20Oster%20Pica%20Hielo%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Hervidor de Acero 2 Litros","s/.30.00","hervidor-scarlett-2.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Hervidor%20de%20Acero%202%20Litros%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Licuadora Oster Pro 700 watts","Delivery GRATIS!","licuadora-Oster-PRO-700W.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Licuadora%20Oster%20Pro%20700%20watts%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Extractor Oster","s/.219.00","20210927_123454.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Extractor%20Oster%20400%20watts%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Plancha Oster a Vapor","s/.69","Plancha-Oster-5954-vertical.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Plancha%20Oster%20a%20Vapor%22,%20necesito%20m%C3%A1s%20detalles.")
				
			section.banner
				.banner__container
	 




					
		