extend pug-componentes/plantilla.pug
block contenidos
	body
		main 
			section(id="articulos")
				+card("Tomatodos de Acero","s/.130.00","Extractor-Oster-600W.jpg")
				+card("Batidora Oster","s/.130.00","licuadora-Oster-3V-700W.jpg")
				+card("Juego de Ollas Aluminio","s/.130.00","licuadora-jhumy.jpg")
				+card("Juego de Ollas Aluminio con Tapa Roja","s/.130.00","licuadora-Oster-boton-Rojo.jpg")
				
				
			section.banner
				.banner__container
	 
