doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/css/styles.css")
		link(rel="stylesheet", href="/css/tablet.css", media="screen and (min-width:420px)")
		title Document
	body
		header
			div(class="logo")
				img(src="/icons/logo2.png", alt="Logo Maxi Cusco")
				h1 maxi cusco
			div(class="menu")
				img(src="/icons/menu.png", alt="Menú")
		section(class="categorias" )
			div(class="categorias__card" id="electroCategory")
				a(href="#")
					img(src="/icons/licuadora.png", alt="Icono de electro")
				p Electro
			div(class="categorias__card" id="roperosCategory")
				a(href="#")
					img(src="/icons/wardrobe.png", alt="Icono de roperos")
				p Roperos
			div(class="categorias__card")
				a(href="#")
					img(src="/icons/sarten.png", alt="Icono de cocina")
				p Cocina
			div(class="categorias__card")
				a(href="#")
					img(src="/icons/termo.png", alt="Icono de termos")
				p Termos
			div(class="categorias__card")
				a(href="#")
					img(src="/icons/mochila.png", alt="Icono de equipaje")
				p Equipaje
			div(class="categorias__card")
				a(href="#")
					img(src="/icons/belleza.png", alt="Icono de Cuidado")
				p Belleza

		main
			section(class="banner")
				div(class="banner__container")
			section(id="articulos")

		footer
			a(href="#")
				img(src="/icons/facebook.png", alt="Icono de facebook")
			a(href="#")
				img(src="/icons/apple-phone.png", alt="Icono de Llamar por telefono")
			a(href="#")
				img(src="/icons/whatsapp.png", alt="Icono de Whatsapp")
			a(href="#")
				img(src="/icons/telegram-app.png", alt="Icono de telegram")

		script(src="/JS/render.js")
