<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <!--    <link
      rel="stylesheet"
      href="/css/tablet.css"
      media="screen and (min-width:420px)"
    /> -->
    <title>Jardines Meyips</title>
  </head>
  <body>
    <header>
      <menu id="hamburger">
        <input type="checkbox" name="" id="bot-menu" class="bot-menu">
      <label for="bot-menu" class="bot-check">
        <p>menu</p>
        <img src="../icons/menu.png" alt="" class="bot_open">
        <img src="../icons/close.png" alt="" class="bot_close">
      </label>
      
      <!-- <div class="caja-logo">
        <img src="../icons/repartidor.png" alt="" class="logito">
        <a href="#" class="main_title">El Wayardo</a>
      </div> -->
      
      <ul class="caja_pestañas">
        <li id="plantasMenu" class="pestaña"><a href="#">Plantas</a></li>
        <li id="cursosMenu"class="pestaña"><a href="#">Cursos</a></li>
        <li id="socialMenu" class="pestaña"><a href="#">Social</a></li>
        

      </ul>
        <!-- <img src="/icons/menu.png" alt="" /> -->
      </menu>
      <section class="front">
        <div>
          <img src="/icons/logo.png" alt="logo">
          <h1>Jardines Meyips</h1>
        </div>
        
        <img src="/img/planta.jpg" alt="main image" />
      </section>
    </header>
    <section class="categories">
      <div id="renderComprar"><a href="#" class="activeTab plantasTab tab">Plantas</a></div>
      <div id="renderCursos" ><a href="#" class="inactiveTab cursosTab tab">Cursos</a></div>
      <div id="renderBlog" ><a href="#" class="inactiveTab blogTab tab">Social</a></div>
    </section>

    <div id="tik">
      <div class="sk-tiktok-feed" data-embed-id="202833"></div>
    <script
      src="https://widgets.sociablekit.com/tiktok-feed/widget.js"
      async
      defer
    ></script>
    </div>

    <section class="items" id="items0">
      <div class="card">
        <img src="/img/girasol.jpg" alt="" />
        <div class="info">
          <div class="price">
            <h3>Girasol Amarillo</h3>
            <p>S/.25.00</p>
          </div>
          <div class="calltoaction">

            <input type="checkbox" name="" id="boton-menu" class="boton-menu">
            <label for="boton-menu" class="boton-check">
              
              <ul class="lista">
                <li class="carac">Aqui ira una caracteristica para mostrar</li>
                <li class="carac">Aqui ira una carac</li>
                <li class="carac">Aqui ira una caracteristica para mostrar</li>
                <li class="carac">Aqui ira una carac</li>
                <li class="carac">Aqui ira una caracteristica para mostrar</li>
                <li class="carac">Aqui ira una carac</li>
              </ul>
              
              <p class="boton_open">Ver más información</p>
              <p class="boton_close">cerrar</p>
              
              
            </label>




           
            <button>Cotizar</button>
          </div>
        </div>
      </div>
      <div class="card"></div>
      <div class="card"></div>
    </section>
    <section id="items"></section>

    


    <script src="/JS/render.js"></script>
  </body>
</html>
