doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/css/styles.css")
		title Document
	body
		header
			div
				h1 maxi cusco
		section(class="categorias")
			a
				div(class="categorias__card")
					img(src="/icons/wardrobe.png", alt="icono de categorias")
					p roperos
			a
				div(class="categorias__card")
					img(src="/icons/wardrobe.png", alt="icono de categorias")
					p roperos

			a
				div(class="categorias__card")
					img(src="/icons/wardrobe.png", alt="icono de categorias")
					p roperos
			a
				div(class="categorias__card")
					img(src="/icons/wardrobe.png", alt="icono de categorias")
					p roperos
			a
				div(class="categorias__card")
					img(src="/icons/wardrobe.png", alt="icono de categorias")
					p roperos
			div
			div
			div
			div
		main
			section(class="banner")
			div(class="banner__container")
			
				article
					div
						p
						h1
		footer
			a 
				img
		script(src="./index.js")





