<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/stylesPost.css">
  <link rel="stylesheet" href="/css/tablet.css" media="screen and (min-width:420px)">
  <title>SuportMaxiCusco</title>
</head>
<body>
  <header>
    <input type="checkbox" name="" id="boton-menu" class="boton-menu">
      <label for="boton-menu" class="boton-check">
        <p>menu</p>
        <img src="../icons/menu.png" alt="" class="boton_open">
        <img src="../icons/close.png" alt="" class="boton_close">
      </label>
      
      <div class="caja-logo">
        <img src="../icons/logo2.png" alt="" class="logito">
        <a href="#" class="main_title">maxi cusco</a>
      </div>
      
      <ul class="caja_pestañas">
        <li id="electroMenu" class="pestaña"><a href="#">electro</a></li>
        <li id="roperosMenu"class="pestaña"><a href="#">roperos</a></li>
        <li id="cocinaMenu" class="pestaña"><a href="#">cocina</a></li>
        <li id="termosMenu"class="pestaña"><a href="#">termos</a></li>
        <li id="equipajeMenu"class="pestaña"><a href="#">equipaje</a></li>
        <li id="bellezaMenu"class="pestaña"><a href="#">belleza</a></li>

      </ul>
  </header>
  <main>
    <section id="post">
      <h1>Nuevo producto</h1>
      <form id="uploadImage" enctype="multipart/form-data">
        <p>Subir archivo</p>
        <input id="file" type="file" name="foto">
        <p>Nombre</p>
        <input width="300" type="text" name="nombre" id="nameInput">
        <select name="listaCategory" id="categoryInput">
          <option disabled selected>Seleciona la categoria</option>
          <option value="electro">Electro</option>
          <option value="roperos">Roperos</option>
          <option value="cocina">Cocina</option>
          <option value="termos">Termos</option>
          <option value="equipaje">Equipaje</option>
          <option value="belleza">Belleza</option>
        </select>
        <p>Precio</p>
        <input width="300" type="number" name="precio" id="priceInput">
        <p id="caracteristicas">Caracteristicas</p>
        <button class="addCarac" id="addCarac">Agregar Caracteristica</button>
        <div id="cajaCarac" class="cajaCarac">
          <input width="300" type="text" name="carac" class="caracInput">
        </div>
        <button class="finalizar" id="upload">Finalizar</button>
      </form>
    </section>
    <section id="articulos"></section>
  </main>
  <script src="/JS/post.js"></script>
</body>
</html>
