<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/tablet.css" media="screen and (min-width:420px)">
    <title>MaxiCusco</title>
  </head>
    <body>
     <header class="menu">
      <input type="checkbox" name="" id="boton-menu" class="boton-menu">
      <label for="boton-menu" class="boton-check">
        <p>menu</p>
        <img src="../icons/menu.png" alt="" >
      </label>
      
      <div class="caja-logo">
        <img src="../icons/logo2.png" alt="" class="logito">
        <a href="#" class="main_title">maxi cusco</a>
      </div>
      
      <ul class="caja_pestañas">
        <li class="pestaña"><a href="#">electro</a></li>
        <li class="pestaña"><a href="http://localhost:8080/roperos">roperos</a></li>
        <li class="pestaña"><a href="#">cocinas</a></li>
        <li class="pestaña"><a href="#">termos</a></li>
        <li class="pestaña"><a href="#">equipaje</a></li>
        <li class="pestaña"><a href="#">belleza</a></li>

      </ul>

     </header>
     <section class="categorias">
      <div class="categorias__card" id="electroCategory">
        <a href="#">
          <img src="/icons/licuadora.png" alt="Icono de electro">
        </a>
        <p>Electro</p>
      </div>
      <div class="categorias__card" id="roperosCategory">
        <a href="#">
          <img src="/icons/wardrobe.png" alt="Icono de roperos">
        </a>
        <p>Roperos</p>
      </div>
      <div class="categorias__card" id="cocinaCategory">
        <a href="#">
          <img src="/icons/sarten.png" alt="Icono de cocina">
        </a>
        <p>Cocina</p>
      </div>
      <div class="categorias__card" id="termosCategory">
        <a href="#">
          <img src="/icons/termo.png" alt="Icono de termos">
        </a>
        <p>Termos</p>
      </div>
      <div class="categorias__card" id="equipajeCategory">
        <a href="#">
          <img src="/icons/mochila.png" alt="Icono de equipaje">
        </a>
        <p>Equipaje</p>
      </div>
      <div class="categorias__card" id="bellezaCategory">
        <a href="#">
          <img src="/icons/belleza.png" alt="Icono de Cuidado">
        </a>
        <p>Belleza</p>
      </div>
    </section>
    <section class="searcher">
        <main>
            
            <section id="articulos"></section>
            
            
        </main>
        <footer>
            <a href="#">
                <img src="/icons/facebook.png" alt="Icono de facebook">
            </a>
            <a href="#">
                <img src="/icons/apple-phone.png" alt="Icono de Llamar por telefono">
            </a>
            <a href="#">
                <img src="/icons/whatsapp.png" alt="Icono de Whatsapp">
            </a>
            <a href="#">
                <img src="/icons/telegram-app.png" alt="Icono de telegram">
            </a>
        </footer>
        <script src="/JS/roperos.js"></script>
    </body>